*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    margin: 0;
    font-size: 14px;
    overflow-x: hidden;
    font-family: DM Sans;
}

ul {
    padding: 0;
    list-style: none;
}

header {
    margin-top: 2.5rem;
}
.headerImgTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #D04F4F;
}

.p-05 {
    padding: 0.5rem 0;
}
.no-border {
    border: none;
}

.wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.none {
    display: none;
}

.icon {
    width: 16px;
    height: auto;
}
.removeIcon {
    margin-top: -2px;
    margin-left: 0.25rem;
}


.btnGreen {
    background-color: $green !important;
    border-color: $green !important;
}

.btnBlue {
    background-color: $blue !important;
    border-color: $blue !important;
}

.btnOrange {
    background-color: $orange !important;
    border-color: $orange !important;
}

.btnDefault {
    background: $blue;
    border-radius: 5px;
    font-family: $lato-font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
}
